*{padding: 0; margin: 0; box-sizing: border-box; background-color:rgb(0, 0, 0)}
#cabecera{
    background-size: contain;
    background-image:url(../Imagenes/pieDePagina.jpg);
    background-repeat: no-repeat;
    height: 850px;
}
#menu{
    position: fixed;
    display: flex;
    width: 100%;
}
#menu li{

    padding: 5px;
    margin-top: 15px;
    color: aliceblue;
    margin-left: 5%;
    font-size: 30px;
    list-style-type: none;
}
#menu li:hover{
    color: red;
}
#generos {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: flex-start; 
    padding: 20px;
}

#generos div {
    height: 300px;
    width: 45%; 
    border: 2px solid rgb(255, 0, 0);
    display: flex; 
    align-items: center;
    justify-content: center;
}

#generos img {
    height: 100px;
    width: 150px;
    margin: auto;
    transition: transform 0.3s;
}

#generos img:hover {
    transform: scale(1.2);
}
#titulo{
    color: aliceblue;
    margin-bottom: 200px;
}
#piePagina p{
    color: aliceblue;
}


